# Chap6-1 DataFrame loc, iloc
### DataFrame比numpy ndarry(element-wise)提供資料統整的功能
### DataFrame通常為2維資料
### 橫的為列(索引index)，直的為欄(colunms)

In [1]:
# 隨機產生DataFrame資料
import numpy as np
import pandas as pd
frame = pd.DataFrame(np.random.rand(4,4), index=list('abcd'), columns=list('ABCD'))
frame

          A         B         C         D
a  0.917752  0.497755  0.350153  0.727746
b  0.997664  0.169724  0.656185  0.027677
c  0.993575  0.193774  0.246602  0.136914
d  0.935615  0.364744  0.602808  0.396547

# loc用欄未來定位DataFrame的資料

# iloc用索引來定位DataFrame的資料

In [2]:
frame.describe()

              A         B         C         D
count  4.000000  4.000000  4.000000  4.000000
mean   0.961152  0.306499  0.463937  0.322221
std    0.040497  0.154257  0.196999  0.311486
min    0.917752  0.169724  0.246602  0.027677
25%    0.931149  0.187762  0.324265  0.109605
50%    0.964595  0.279259  0.476480  0.266730
75%    0.994597  0.397997  0.616152  0.479347
max    0.997664  0.497755  0.656185  0.727746

In [5]:
frame.loc['a','A']

0.9177524220545524

In [6]:
#取前兩列之資料
frame.loc['a':'b', :]

          A         B         C         D
a  0.917752  0.497755  0.350153  0.727746
b  0.997664  0.169724  0.656185  0.027677

In [8]:
#取前兩欄之資料
frame.loc[:,'A':'B']

          A         B
a  0.917752  0.497755
b  0.997664  0.169724
c  0.993575  0.193774
d  0.935615  0.364744

In [9]:
#取特殊列、欄的資料 
print(frame.loc[['a','c'],:])
print(frame.loc[:,['A','C']])
print(frame.loc[['a','d'],['A','D']])

          A         B         C         D
a  0.917752  0.497755  0.350153  0.727746
c  0.993575  0.193774  0.246602  0.136914
          A         C
a  0.917752  0.350153
b  0.997664  0.656185
c  0.993575  0.246602
d  0.935615  0.602808
          A         D
a  0.917752  0.727746
d  0.935615  0.396547

## iloc 是利用列索引與欄索引進行資料定位，都是從0開始

In [10]:
frame.iloc[0,0]

0.9177524220545524

In [11]:
frame.iloc[0:2,:]

          A         B         C         D
a  0.917752  0.497755  0.350153  0.727746
b  0.997664  0.169724  0.656185  0.027677

In [13]:
#取前兩列、兩欄的資料 
frame.iloc[0:2, 0:2]

          A         B
a  0.917752  0.497755
b  0.997664  0.169724